<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logFile"
				xsi:type="File"
				fileName="${basedir}/HtecUber.log"
				archiveFileName="${basedir}/LogArchives/HtecUber.{#####}.zip"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				enableArchiveFileCompression="True"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				encoding="UTF-8" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" maxLevel="Fatal" writeTo="logFile" />
	</rules>
</nlog>
